#intro {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;

  /* background-image: url("/images/hero.jpg"); cambia immagine */
  background-size: cover;
  background-position: center;
  position: relative;
}

/* overlay scuro per leggibilità */
#intro::before {
  content: "";
  position: absolute;
  inset: 0;
  /* background: rgba(0, 0, 0, 0.5); */
}

#intro h1,
#intro p {
  position: relative;
  z-index: 1;
}

/* SECONDA SEZIONE */
#presentazione {
  text-align: center;
  color: white;
  /* background: #f5f5f5; */
}

#presentazione h2 {
  margin-bottom: 20px;
}
